<div class="project-body center-parent row">
    <div class="col-md-4 center-child center-parent">
        <div class="row center-child">
            <img class="project-image" alt="Project Image Unavailable" src="<%= project.image_url %>" height="240" width="240">
        </div>
        <div class="row project-body-metadata center-child">
            <ul class="list-group">
                <li class="list-group-item project-title">
                    <%= project.name %>
                </li>
                <li class="list-group-item">
                    <label>Owner: </label>
                    <span>
                        <%= user.screen_name %>

                    </span>
                </li>
                <li class="list-group-item">
                    <label>URL: </label>
                    <a href="<%= project.url %>"><%= project.url %></a>
                </li>
                <li class="list-group-item">
                    <label>Created: </label>
                    <%= project.created %>
                </li>
                <li class="list-group-item">
                    <label>Tags: </label>
                    <% project.tags.forEach(function(tag) { %>
                        <%= tag %>
                    <% }); %>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 center-child project-body-description">
        <h3 class="project-summary"><%- project.summary %></h3>
        <p class="project-description">
            <%- project.description %>
        </p>
    </div>
</div>
