<li class="list-group-item row">
    <div class="col-md-4">
        <div class="row">
            <img alt="Project Image Unavailable" src="<%= project.image_url %>" height="220" width="220">
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Name: </label>
                    <a href="/project/<%= project.id %>"><%= project.name %></a>
                </li>
                <li class="list-group-item">
                    <label>Owner: </label>
                    <span data-toggle="tooltip"
                          title="<%- include ./user-modal %>">
                        <%= users[project.owner_id].screen_name %>
                    </span>
                </li>
                <li class="list-group-item">
                   <label>Summary: </label>
                    <%- project.summary %>
                </li>
                <li class="list-group-item">
                    <label>Tags: </label>
                    <% project.tags.forEach(function(tag) { %>
                        <%= tag %>
                    <% }); %>
                </li>
            </ul>
        </div>
    </div>
</li>
